* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a #logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-left: 10px;
}

.topnav {
  position: sticky;
  top: 0;
  z-index: 988;
  width: 100%;
  transition: all 0.2s ease;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 

.right-menu a {
  text-decoration: none;
  color: #fff;
}

.topnav a, .right-menu a {
  margin: 0 5px 0;
}

.hero {
  display: flex;
  text-align: center;
  height: 50vh;
  margin: auto;
  align-items: center;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none; 
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  
  top: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #ffff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  
}

.prev {
  left: 20px;
}
.next {
  right: 20px;
  
  
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0,0.8);
  
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
  background-color: #717171;
  
}

.fade {
  animation-name: fade;
   animation-duration: 1.5s;
  
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.gambar {
  height: 300px;
  object-fit: cover;
}

.hamburger {
  border: 4px solid #ffff;
  padding: 5px;
  border-radius: 10%;
  margin-right: 20px;
}

.card {
  color: #fff;
  width: 150px;
  height: 200px;
  background-color: black;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .menu-bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5px;
  width: 90%;
  margin: auto;
  gap: 2px;
}

.menu-bottom .price {
  background-color: #ffff;
  border-radius: 5px;
  text-align: center;
  color: black;
}

img.menu {
  max-height: 100%;
}

.card-menu {
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}

section.cart {
  bottom: 0;
  width: 90%;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  background-color: rgba(100, 167, 176, 1);
  z-index: 999;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s ease;
  
  
}

.cart-icon {
  font-size: 50px;
  color: aliceblue;
}

.cart-body {
  overflow-y: auto;      /* scroll vertikal */
  overflow-x: hidden;

  max-height: 0;
  opacity: 0;
  transform: translateY(10px);

  transition:
    max-height 0.4s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}

/* saat cart dibuka */
.cart.expanded .cart-body {
  max-height: 220px;   /* tinggi maksimal cart */
  opacity: 1;
  transform: translateY(0);
}